---
layout: default
title: "Resume"
---
<div id="page">
  <section id="title-section" class="shadowed">
    {% include sitenav.html %}
    <div class="wrapper">
      <h1>Resume</h1>
      <div id="resume-download-button">
        <a href="{{ "download/petermenniti_resume_20200121.pdf" | relative_url }}">
          <i class="fas fa-file-download"></i> Download PDF
        </a>
      </div>
    </div>
  </section>
  <section class="wrapper" id="content">
    <ul id="resume">
      {% for item in site.data.resume %}
        <li class="resume-headline">
          <span class="resume-icon"><i class="{{ item.icon }}"></i></span>
          <span class="resume-title">{{ item.title }}</span>, <a href="{{ item.url }}" class="resume-company">{{ item.company }}</a>
        </li>
        <li class="resume-details">
          <ul>
            {% for detail in item.responsibilities %}
              <li>{{ detail }}</li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </section>
  <section class="footer-section">
    {% include sitefooter.html %}
  </section>
</div>
