---
layout: default
title: "Resume"
---
<div id="page">
  <section id="title-section" class="shadowed">
    {% include sitenav.html %}
    <div class="wrapper">
      <h1>Resume</h1>
      <div id="resume-download-button">
        <a href="{{ "download/petermenniti_resume_20200121.pdf" | relative_url }}">
          <i class="fas fa-file-download"></i> Download PDF
        </a>
      </div>
    </div>
  </section>
  <section class="wrapper" id="content">
    <ul id="resume">
      {% for item in site.data.resume %}
      <div class="resume-element">
        <li class="resume-headline">
          <div class="resume-decor">
            <i class="{{ item.icon }}"></i>
          </div>
          <div class="resume-content">
            <span class="resume-title">{{ item.title }}</span>, <span class="resume-company">{{ item.company }}</span> • <span class="resume-timeframe">
              {{ item.start | date: "%B %Y"}} - 
              {% if item.end %} 
                {{ item.end | date: "%B %Y" }} 
              {% else %} 
                Present
              {% endif %}
            </span>
          </div>
        </li>
        <li class="resume-details">
          <div class="resume-content">
            <ul>
              {% for detail in item.responsibilities %}
                <li>{{ detail }}</li>
              {% endfor %}
            </ul>
          </div>
        </li>
      </div>
      {% endfor %}
    </ul>
  </section>
  <section class="footer-section">
    {% include sitefooter.html %}
  </section>
</div>
