<div id="sitefooter" class="navbar shadowed">
  <nav>
    <div class="sitenav-section">
      <ul>
        <li>
          <i class="far fa-copyright"></i> 2020 Peter Menniti
        </li>
        <li>
          <a href="https://github.com/petermrecords"><i class="fab fa-github"></i></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/peter-menniti-53970152/"><i class="fab fa-linkedin"></i></a>
        </li>
        <li>
          <a href="mailto:petermennitirecords@gmail.com"><i class="fas fa-at"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</div>