
// VARIABLES
$backgroundColor: #ffffff;
$bodyColor: #000000;

$bodyFont: 'Nunito', sans-serif;
$titleFont: 'Share Tech Mono', monospace;

$lightRed: #CE7171;
$red: #BE4141;
$darkRed: #8F3131;

$lightGreen: #71CE71;
$green: #41BE41;
$darkGreen: #318F31;

$lightPurple: #7171CE;
$purple: #4141BE;
$darkPurple: #31318F;

$grey: #B3B6B7;
$lightGrey: #ECF0F1;

html {
  height: 100%;
}

body {
  background: $backgroundColor;
  color: $darkRed;
  font-family: $bodyFont;
  padding: 0px;
  margin: 0px;
  height: 100%;
}

#page {
  position: relative;
  min-height: 100%;
  min-width: 100%;
}

// POSITIONING
.wrapper {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: block;
  margin: 0 auto;
}

.shadowed {
  box-shadow: 0px 1px 4px black;
  width: 100%;
  position: fixed;
}

.flexwrapper {
  display: flex;
  justify-content: flex-start;
  padding-top: 8px;
  padding-bottom: 8px;
}

.photo-section {
  padding: 8px;
  border-right: 1px dotted $red;
}

.text-section {
  padding-left: 16px;
  p:first-child {
    margin-top: 0px;
  }
}

.sitenav-section {
  display: inline-block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  ul {
    padding-left: 0px;
    display: inline;
    list-style-type: none;
    li {
      display: inline;
      margin-left: 1em;
    }
  }
}

// SITE STYLES
div.navbar {
  z-index: 1;
  color: $backgroundColor;
  a {
    color: $backgroundColor;
  }
  a:hover {
    text-shadow: 0em 0em 0.03em $lightGrey;
  }
}

img.page-photo {
  width: 300px;
  height: 300px;
  @media screen and (max-width: 538px) {
    width: 200px;
    height: 200px;
  }
}

h1, h2, h3, h4, h5 {
  font-family: $titleFont;
}

a {
  text-decoration: none;
  color: $purple;
}

a:hover {
  text-shadow: 0em 0em 0.03em $lightPurple;
};

a:visted {
  color: $darkPurple;
}

// SECTIONS
section#title-section {
  background: $backgroundColor;
  margin-top: 84px;
  @media screen and (max-width: 538px) {
    margin-top: 122px;
  }
  h1 {
    display: inline-block;
    margin: 8px;
    margin-right: 32px;
    font-size: 2.7em;
    vertical-align: middle;
  }
}

section#content {
  padding-top: 169px;
  padding-bottom: 48px;
  @media screen and (max-width: 538px) {
    padding-top: 207px;
  }
}

// BITS AND PIECES
#sitenav {
  top: 0;
  background: $red;
  #sitenav-brand {
    font-size: 2em;
    margin-left: 0.33em;
    margin-right: 0.5em;
    font-family: $titleFont;
    i {
      color: $backgroundColor;
    }
  }
}

#resume-download-button {
  display: inline-block;
  border: 4px solid $darkGreen;
  border-radius: 8px;
  box-shadow: 0px 0px 4px $green;
  vertical-align: middle;
  padding: 2px;
  margin: 4px;
  a {
    color: $darkGreen;
    font-size: 0.7em;
  }
  a:hover {
    text-shadow: none;
  }
}
#resume-download-button:hover {
  box-shadow: 0px 0px 8px $green;
}

#resume {
  width: 100%;
  .resume-time {
    width: 15%;
    font-size: 0.4em;
  }
  .resume-icon {
    width: 10%;
    color: $darkGreen;
    font-size: 2.5em;
  }
  .resume-icon:hover {
    text-shadow: 0px 0px 2px $green;
  }
  .resume-info {
    width: 75%;
    text-align: left;
    .resume-title {
      font-family: $titleFont;
      font-size: 1.5em;
    }
  }
  .resume-details {
    display: none;
    td:first-child {
      width: 15%;
    }
    td:nth-child(2) {
      width: 10%;
    }
  }
}

#sitefooter {
  background: $darkPurple;
  bottom: 0px;
}
