$backgroundColor: #ffffff;
$bodyColor: #000000;

$bodyFont: 'Nunito', sans-serif;
$titleFont: 'Share Tech Mono', monospace;

$lightRed: #CE7171;
$red: #BE4141;
$darkRed: #8F3131;

$lightGreen: #71CE71;
$green: #41BE41;
$darkGreen: #318F31;

$lightPurple: #7171CE;
$purple: #4141BE;
$darkPurple: #31318F;

$grey: #B3B6B7;
$lightGrey: #ECF0F1;

body {
  background: $backgroundColor;
  color: $darkRed;
  font-family: $bodyFont;
  padding: 0px;
  margin: 0px;
}

div.wrapper {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: block;
  margin: 0 auto;
}

div.shadowed {
  box-shadow: 0px 1px 4px black;
  width: 100%;
  position: fixed;
}

h1, h2, h3, h4, h5 {
  font-family: $titleFont;
}

a {
  text-decoration: none;
  color: $purple;
}

a:hover {
  text-shadow: 0em 0em 0.03em $lightPurple;
};

a:visted {
  color: $darkPurple;
}

#sitenav {
  background: $red;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 0.33em;
  #sitenav-brand {
    font-size: 2em;
    margin-left: 0.33em;
    margin-right: 0.5em;
    font-family: $titleFont;
    i {
      color: white;
    }
  }
  a {
    color: white;
  }
  a:hover {
    text-shadow: 0em 0em 0.03em $lightGrey;
  }
  a:visited {
    color: $grey;
  }
}

div.sitenav-section {
  display: inline-block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  ul {
    padding-left: 0px;
    display: inline;
    list-style-type: none;
    li {
      display: inline;
      margin-left: 1em;
    }
  }
}

#timeline-line {
  position: absolute;
  left: 2.5em;
  height: 100%;
  width: 10px;
  background: $darkRed;
  z-index: -1;
  padding: 0;
  margin: 0;
}

#timeline-items {
  .resume-item {
    list-style-type: none;
  }
  .resume-item-headline {
    table {
      width: 100%;
      padding-bottom: 16px;
      padding-top: 16px;
    }
    .icon {
      width: 10%;
    }
    .title {
      font-family: $titleFont;
      font-size: 2em;
      width: 35%;
    }
    .company {
      width: 35%;
    }
    .time {
      width: 20%;
    }
    i {
      font-size: 3em;
      color: $darkGreen;
      background: $backgroundColor;
    }
    i:hover {
      text-shadow: 1px 1px 2px $darkGreen;
    }
    span.title {
      font-size: 1.5em;
    }
    span.company {
      margin-left: 0.25em;
      font-size: 0.8em;
    }
  }
  .resume-item-body {
    margin-top: 1em;
    margin-left: 3.5em;
    display: none;
    li {
      list-style-type: square;
    }
  }
}

.page-title {
  font-family: $titleFont;
}

#title-section {
  margin-top: 95px;
  background: $backgroundColor;
  #page-title {
    line-height: 3em;
  }
  h1 {
    display: inline-block;
    margin: 8px;
    margin-right: 32px;
  }
  h1 {
    font-size: 2.7em;
    vertical-align: middle;
  }
  #resume-download-button {
    display: inline-block;
    border: 4px solid $darkRed;
    border-radius: 8px;
    box-shadow: 0px 0px 4px $red;
    vertical-align: middle;
    padding: 2px;
    margin: 4px;
    a {
      color: $darkRed;
      font-size: 0.7em;
    }
    a:hover {
      text-shadow: none;
    }
  }
  #resume-download-button:hover {
    box-shadow: 0px 0px 8px $red;
  }
}

#content {
  padding-top: 180px;
  padding-bottom: 95px;
}

#sitefooter {
  position: fixed;
  bottom: 0px;
  background: $red;
  color: $backgroundColor;
  ul {
    display: inline;
  }
  li {
    display: inline;
    margin-left: 1em;
  }
  a {
    color: $backgroundColor;
  }
  a:hover {
    text-shadow: 0em 0em 0.03em $lightGrey;
  }
}

#photo {
  max-width: 300px;
  max-height: 300px;
}

.flexwrapper {
  display: flex;
  justify-content: flex-start;
  padding-top: 8px;
  padding-bottom: 8px;
}

.photo-section {
  padding: 8px;
  border-right: 1px dotted $red;
}

