$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: 'Nunito', sans-serif;

$lightRed: #CE7171;
$red: #BE4141;
$darkRed: #8F3131;

$lightGreen: #71CE71;
$green: #41BE41;
$darkGreen: #318F31;

$lightPurple: #7171CE;
$purple: #4141BE;
$darkPurple: #31318F;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  padding: 0px;
  margin: 0px;
}

div.wrapper {
  padding: 8px;
  display: block;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: $purple;
}

a:hover {
  text-shadow: 0.02em 0.02em 0.04em $lightPurple;
};

a:visted {
  color: $darkPurple;
}

#sitenav {
  background: $lightRed;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 1px 4px black;
  #sitenav-brand {
    font-size: 1.5em;
    margin-right: 1em;
    margin-left: 1em;
  }
}

#content {
  margin-top: 78px;
}

div.sitenav-section {
  display: inline-block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  ul {
    padding-left: 0px;
    display: inline;
    list-style-type: none;
    li {
      display: inline;
      margin-left: 1em;
    }
  }
}